        * {
            margin: 0;
            padding: 0;
        }

        body {
            background: #8E9DCC;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        div#estrutura {
            background: #fff;
            width: 400px;
            height: 400px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            border-radius: 30px;
            box-shadow: 5px 5px 20px;
        }

        h3 {
            font-size: 25px;
            padding: 10px;
            color: #8E9DCC;
        }

        div label {
            color: #8E9DCC;
        }

        div input {
            padding: 10px;
            border-radius: 10px;
            border: 2px solid #8E9DCC;
        }

        #botao {
            border: none;
            background-color: #8E9DCC;
            color: #fff;
            border-radius: 10px;
            font-size: 15px;
            box-shadow: 5px 5px 10px;
        }

        #botao:hover {
            cursor: pointer;
            color: #8E9DCC;
            background-color: #fff;
            border: 2px solid #8E9DCC;
            
        }

        #resultado{
            color: #8E9DCC;
        }